
/* Dados de Contato */

.conteiner-contato .alert {
  display: flex;
  align-items: center;
  gap: 0.5rem; /*8px*/
  display: none;

  & span {
    color: var(--danger);
    font: var(--text-open-xs);
  }
}

.conteiner-contato {

  & .input-involved:nth-child(1):has(:invalid), .input-involved:nth-child(3):has(:invalid){
    & .alert {
      display: inherit;
    }

    & input[type=text]{
      outline: 1px solid var(--danger);
    }
  }

  & .input-involved:nth-child(2):has(:invalid) {
    & .alert {
      display: inherit;
    }

    & input[type=email]{
      outline: 1px solid var(--danger);
    }
  }
}

