
/* Dados de Contato */

.conteiner-contato .alert {
  display: flex;
  align-items: center;
  gap: 0.5rem; /*8px*/
  
  & img {
    display: none;
  }

  & span::after {
    content: "Campo obrigatório";
    color: var(--danger);
    font: var(--text-open-xs);
  }

}


/* Validação de erro nos inputs */
.conteiner-contato {
  & .input-involved:nth-child(2) { 
    /* Validação do E-mail, quando tiver placeholde na pagina inicial não executar */
    & input[type=email]:invalid:not(:placeholder-shown){
      
      outline: 1px solid var(--danger);
    }

    /* validação do e-mail, se tiver sem @ apresentar o erro */
    & input[type=email]:invalid:not(:placeholder-shown) + .alert {
      
      & img {
        display: inline;
      }
      
      & span::after {
        content: "E-mail Incorreto";
      }
    }
  }

  /* Validação do Text, se tiver vazio executar o erro */
  /* & .input-involved:nth-child(1), .input-involved:nth-child(3) {
    & input[type=text]:invalid {

      outline: 1px solid var(--danger);

    }   
    
    & input[type=text]:invalid + .alert{
      
      & img {
        display: inline;
      }

      & span::after {
        content: "Compo vazio";
      }
    }
  } */

}