
/* Dados de Contato */

.conteiner-contato .alert {
  display: flex;
  align-items: center;
  gap: 0.5rem; /*8px*/
  
  & img {
    display: none;
  }

  & span::after {
    content: "Campo obrigatório";
    color: var(--danger);
    font: var(--text-open-xs);
  }

}


/* Validação de erro nos inputs */
.conteiner-contato {
  & .input-involved:nth-child(2) { 
    /* Validação do E-mail, quando tiver placeholde na pagina inicial não executar */
    & input[type=email]:invalid:not(:placeholder-shown){
      
      outline: 1px solid var(--danger);
    }

    /* validação do e-mail, se tiver sem @ apresentar o erro */
    & input[type=email]:invalid:not(:placeholder-shown) + .alert {
      
      & img {
        display: inline;
      }
      
      & span::after {
        content: "E-mail Incorreto";
      }
    }
  }
}


/* Exemplo de validado no campo com input E-mail*/
/* #email:valid {
  background-color: green;
} */


/* Exemplo campo invalido com input E-mail*/
/* #email:invalid {
  background-color: red;
} */
