
/* TERMO */

.termo {
  padding-top: 2.5rem; /*40px*/
  border-top: 1px solid var(--input-stroke);

    & div {
      /* border: 2px solid blue; */

      display: flex;
      align-items: center;
      gap: 0.75rem; /*12px*/
      margin-bottom: 0.5rem; /*8px*/
    }

    & input {
        /*Remove formato roginal do html e dar liberadade realiar no CSS*/
        appearance: none;
        background-color: var(--input-base);
        width: 1.25rem; /*20px*/
        height: 1.25rem; /*20px*/
        border-radius: 0.25rem; /*4px*/
        outline: 1px solid var(--input-base);

      &:checked {
        background-image: url(../../assets/icon/check.svg);
        background-repeat: no-repeat;
        background-size: 1.125rem; /*18px*/
        background-position: 20%;
        outline: 1px solid var(--brand-light);
      }

      /* &:focus {
        outline: 1px solid var(--brand-light);
      } */

    }

    & label {
      /* border: 2px solid yellow; */
      font: var(--text-open-sm);
      color: var(--text-body);

      & strong {
        color: var(--brand-light);
      }
    }
}