
/* input[type=text] { */

input, textarea {
  background-color: var(--input-base);
  border: 0.06rem solid var(--input-stroke);
  font: var(--text-open-md);
  color: var(--input-placeholder);
  height: 3rem; /*48px*/
  border-radius: 0.5rem; /*8px*/
  padding-left: 1rem; /*16px*/
  
  &:focus {
    outline: 1px solid var(--brand-light);
  }
}


textarea {
  padding-top: 1rem; /*16px*/
  height: 8.56rem; /*137px*/
  color: var(--input-placeholder);

  &:focus {
    outline: 1px solid var(--brand-light);
  }
  
}

input[type=date] {
  color: var(--input-placeholder);
  font: var(--text-open-md);
}

/* removendo focus no radio da imagens da tema de evento */
input[type=radio]:focus {
  outline: none;
}

#foto-capa {
  /* border: 2px solid red; */
}


/* Foto de capa input file */
.conteiner-estilo-foto {
  display: flex;
  
  
  .foto-capa-involved {
    background-color: var(--shape-bory);
    width: 23rem; /*368px*/
    height: 3rem; /*48px*/
    display: flex;
    align-items: center;
    gap: 0.75rem; /*12px*/
    

    .foto-capa {
  /* border: 2px solid blue; */

      position: relative;
      width: 7.438rem; /*119px*/
      height: 2.5rem; /*40px*/
      border-radius: 0.5rem; /*8px*/
      background-color: var(--shape-button);
      background-image: url(../../assets/icon/upload.svg);
      background-size: 1rem; /*16px*/
      background-repeat: no-repeat;
      background-position: 12%;
      
      input {
        /* background-color: red; */
        position: absolute;
        opacity: 0;
      }

      span {
        /* border: 2px solid rebeccapurple; */

        height: 2.375rem; /*38px*/
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1.25rem; /*20px*/
        font: var(--text-open-sm);
        color: var(--text-heading);        
      }
    }
  }
}