
/*  Sobre e Evento  */

.fundo-tipo {
  width: 17rem; /*272px*/
  height: 3rem; /*48px*/
  border-radius: 0.5rem; /*8px*/
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
}

.evento-tipo-primario, .evento-tipo-segundario{
  /*Remove formato roginal do html e dar liberadade realiar no CSS*/
  appearance: none;
  border: none;
  width: 8.063rem; /*129px*/
  height: 2.5rem; /*40px*/
  border-radius: 5px;
  /* background-color: var(--shape-button); */
  margin-left: 0.156rem; /*2.5px*/
  margin-top: 0.188rem; /*3px*/
}

.evento-tipo-primario{
  background-image: url(../../assets/icon/building-2.svg);
  background-repeat: no-repeat;
  background-size: 1rem; /*16px*/
  background-position: 12%;
  background-color: var(--input-base);
  position: relative;
   
  &::before {
    content: "Presencial";
    position: absolute;
    top:23%;
    left: 30%;
    font: var(--text-open-sm);
    color: var(--input-placeholder);  
  } 
  
  &:checked {
    background-image: url(../../assets/icon/building-2-azul.svg);
    background-color: var(--shape-button);
  }
}


.evento-tipo-segundario{
  background-image: url(../../assets/icon/video.svg);
  background-repeat: no-repeat;
  background-size: 1rem; /*16px*/
  background-position: 25%;
  position: relative;
  
   
  &::before {
    content: "Online";
    position: absolute;
    top:23%;
    left: 40%;
    font: var(--text-open-sm);
    color: var(--input-placeholder);  
  } 

  &:checked {
    background-image: url(../../assets/icon/video-azul.svg);
    background-color: var(--shape-button);
  }
}






/* Personalização */

.container-personalizacao {
  /* background-color: yellow; */

  width: 35.688rem; /*571px*/

  display: flex;
  justify-content: space-between;
  
  & input[type=radio] {
    /*Remove formato roginal do html e dar liberadade realiar no CSS*/
    appearance: none; 
    width: 2.5rem; /*40px*/
    height: 2.5rem; /*40px*/
    border-radius: 50%;
    border: 6px solid var(--shape-button);
    /* outline: 2px solid var(--brand-light); */

    &:checked {
      outline: 2px solid var(--brand-light);
    }
  }
}

/* Galeria de cores da personalização */
.container-personalizacao input[type=radio] {

  &:nth-child(1){
    background-color: var(--brand-light);
  }
  &:nth-child(2){
    background-color: var(--navy);
  }
  &:nth-child(3){
    background-color: var(--purple);
  }
  &:nth-child(4){
    background-color: var(--fuschia);
  }
  &:nth-child(5){
    background-color: var(--pink);
  }
  &:nth-child(6){
    background-color: var(--danger);
  }
  &:nth-child(7){
    background-color: var(--orange);
  }
  &:nth-child(8){
    background-color: var(--yellow);
  }
  &:nth-child(9){
    background-color: var(--lime);
  }
  &:nth-child(10){
    background-color: var(--green);
  }
  &:nth-child(11){
    background-color: var(--cyan);
  }
}



/* EVENTO */

.conteiner-evento {
  /* background-color: yellow; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 0.5rem; /*8px*/
  justify-items: center;
}


.conteiner-evento div {
  background-color: var(--input-stroke);

  width: 8.375rem; /*134px*/
  height: 6.438rem; /*103px*/
  border-radius: 0.5rem; /*8px*/

  display: flex;
  flex-direction: column;
  align-items: center;

  & img {
    width: 7.875rem; /*126px*/
    height: 4rem; /*64px*/
  }

  & input[type=radio] {
    /*Remove formato roginal do html e dar liberadade realiar no CSS*/
    appearance: none; 
    
    background-repeat: no-repeat;
    background-size: cover;

    width: 7.875rem; /*126px*/
    height: 4rem; /*64px*/
    margin: 0.25rem 0.25rem 0.5rem 0.25rem; /*4px 4px 8px 4px*/
  }

  &:has(:checked), div{
    outline: 2px solid var(--brand-light);
  }
}

/* Galeria de imagens do eventos */
.conteiner-evento  {

  & div:nth-child(1) input[type=radio] {
    background-image: url(../../assets/img/Aniverasario.png);
  }

  & div:nth-child(2) input[type=radio] {
    background-image: url(../../assets/img/infantil.png);
  }

  & div:nth-child(3) input[type=radio] {
    background-image: url(../../assets/img/formatura.png);
  }

  & div:nth-child(4) input[type=radio] {
    background-image: url(../../assets/img/casamento.png);
  }

  & div:nth-child(5) input[type=radio] {
    background-image: url(../../assets/img/cha-de-bebe.png);
  }
   
  & div:nth-child(6) input[type=radio] {
    background-image: url(../../assets/img/cha-de-panela.png);
  }

  & div:nth-child(7) input[type=radio] {
    background-image: url(../../assets/img/carnaval.png);
  }

  & div:nth-child(8) input[type=radio] {
    background-image: url(../../assets/img/pascoa.png);
  }

  & div:nth-child(9) input[type=radio] {
    background-image: url(../../assets/img/sao-joao.png);
  }

  & div:nth-child(10) input[type=radio] {
    background-image: url(../../assets/img/halloween.png);
  }

  & div:nth-child(11) input[type=radio] {
    background-image: url(../../assets/img/natal.png);
  }

  & div:nth-child(12) input[type=radio] {
    background-image: url(../../assets/img/outros.png);
  }
}




/* ESTILO */

#estilo {
  /* border: 2px solid red; */

  margin-top: 1.75rem; /*28px*/
  width: 11rem; /*176px*/
}

.estilo-involved {
  /* border: 2px solid yellow; */

  display: flex;
  align-items: center;
  gap: 0.75rem; /*12px*/
  margin-top: 0.75rem; /*12px*/
}


.estilo {
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  border-radius: 999px; /**/
  width: 4rem; /*64px*/ 
  height: 2rem; /*32px*/

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.438rem; /*7px*/


  & input[type=radio] {
    /*Remove formato roginal do html e dar liberadade realiar no CSS*/
    appearance: none; 
    background-color: var(--input-stroke);
    
    width: 1.5rem; /*24px*/
    height: 1.5rem; /*24px*/
    border-radius: 50%;
  }
}

/* FOTO DE CAPA */

#foto-capa{
  /* border: 2px solid pink; */

  margin-top: 1.75rem; /*28px*/
}


.foto-capa-involved {
  /* border: 2px solid pink; */
  
  margin-top: 0.375rem; /*6px*/
}

/* Botao movimentar um lado para outro com INPUT RADIO */
.conteiner-estilo-foto .estilo { 
  & #claro {
    background-color: var(--input-base);
    border: none;

    &:checked {
        background-color: var(--brand-light);
        border: 1px solid var(--input-base);

      &::before {
        content: "Claro";
        margin-left: 1.25rem; /*20px*/
        color: var(--text-heading);
        font: var(--text-open-sm);
      }
    } 
  }

    & #escuro {
      border: none;
      background-color: var(--input-base);

      &:checked {
        border: 1px solid var(--input-base);
        background-color: var(--input-stroke);

        &::before {
          content: "Escuro";
          margin-left: 3.125rem; /**/
          color: var(--text-heading);
          font: var(--text-open-sm);
        }
      }
    }
    
}
