
.container-personalizacao {
  /* background-color: yellow; */

  width: 560px;

  display: flex;
  justify-content: space-between;
  
  & input[type=radio] {
    /*Remove formato roginal do html e dar liberadade realiar no CSS*/
    appearance: none; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 6px solid var(--shape-button);
    /* outline: 2px solid var(--brand-light); */

    &:checked {
      outline: 2px solid var(--brand-light);
    }
  }
}

input[type=radio] {

  &:nth-child(1){
    background-color: var(--brand-light);
  }
  &:nth-child(2){
    background-color: var(--navy);
  }
  &:nth-child(3){
    background-color: var(--purple);
  }
  &:nth-child(4){
    background-color: var(--fuschia);
  }
  &:nth-child(5){
    background-color: var(--pink);
  }
  &:nth-child(6){
    background-color: var(--danger);
  }
  &:nth-child(7){
    background-color: var(--orange);
  }
  &:nth-child(8){
    background-color: var(--yellow);
  }
  &:nth-child(9){
    background-color: var(--lime);
  }
  &:nth-child(10){
    background-color: var(--green);
  }
  &:nth-child(11){
    background-color: var(--cyan);
  }
}